$primary_black: #000000;
$primary_yellow: #FFBB00;
$main-light_yellow: #FFCF4B;
$stroke-dark_yellow: #2FAE60;
$main-light_grey: #F9F9F9;
$stroke-dark_grey: #CEC6C6;
$text-main: #263238;
$text-secondary: #65624C;
$grey_1: #333333;
$grey_2: #4F4F4F;
$grey_3: #828282;
$grey_4: #B7B6BB;
$grey_5: #E0E0E0;
